@model MamalianASP.Models.DatabaseStatModel
@{
    ViewBag.Title = "Update";
}

<h2>Update</h2>

<p>Here, you can select a stat from a dropdown which should be updated.</p>
<p>Once you've selected an entry, fill in the new level you want it to have, and simply click on the button.</p>

@using (Html.BeginForm("UpdateFunction", "Database", FormMethod.Post)) {
    <h2>Stats Select</h2>
    <p>@Html.DropDownListFor(m => m.SelectedId, Model.GetStats())</p>
    <p>
        <b> @Html.LabelFor(m => m.Level) </b>
        @Html.TextBoxFor(m => m.Level)
    </p>
    <p>
        <b> @Html.LabelFor(m => m.Health) </b>
        @Html.TextBoxFor(m => m.Health)
    </p>
    <p>
        <b> @Html.LabelFor(m => m.Spirit) </b>
        @Html.TextBoxFor(m => m.Spirit)
    </p>
    <p>
        <b> @Html.LabelFor(m => m.Strength) </b>
        @Html.TextBoxFor(m => m.Strength)
    </p>
    <p>
        <b> @Html.LabelFor(m => m.Dexterity) </b>
        @Html.TextBoxFor(m => m.Dexterity)
    </p>
    <p>
        <b> @Html.LabelFor(m => m.Intelligence) </b>
        @Html.TextBoxFor(m => m.Intelligence)
    </p>

    <p style="margin-top: 12px">
        <input class="btn btn-default" id="btnSubmit" type="submit" value="Update"/>
    </p>
}